Require         all granted
Options         +Indexes +FollowSymLinks
DirectoryIndex  index.php

# https://blog.doppler.com/configuring-php-applications-using-environment-variables
# https://stackoverflow.com/questions/35953019/expose-environment-variables-to-apache-and-php
# is put to $_SERVER['DATABASE_URL']
#SetEnv DATABASE_URL "postgres://shli:shli@localhost:5432/shli"


php_flag short_open_tag on
#php_value error_reporting 0

#php_value xdebug.mode debug
#php_flag xdebug.start_with_request yes

#"C:\Program Files (x86)\Apache Software Foundation\Apache2.2\bin\htpasswd" -b C:\projects\mzgb\htdocs\mzgb\backoffice\.htpasswd admin shli
#Updating password for user admin

#AuthType       Basic
#AuthName       "Private"
#AuthUserFile   /www/vhosts/dev.webie.ru/html/shli/backoffice/.htpasswd
#require        valid-user

#CharsetDisable  on

#moved to _lib/_init.php:
#php_value max_execution_time 60
#php_value upload_max_filesize "5M"
#php_value post_max_size "5M"
#php_value memory_limit "16M"
